@import './variables.scss';
@import './typology.scss';
@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

body {
  color: $color-black;
  padding: 0;
  margin: 0;
}

.image-wrapper-fit-parent,
.iwfp {
  svg {
    height: 100% !important;
    width: 100% !important;
  }

  img {
    height: 100% !important;
    width: 100% !important;
    object-fit: contain;
  }
}

.image-wrapper-fill-width,
.iwfw {
  svg {
    height: auto !important;
    width: 100% !important;
  }

  img {
    height: auto !important;
    width: 100% !important;
  }
}

.image-wrapper-fill-height,
.iwfh {
  svg {
    height: 100% !important;
    width: auto !important;
  }

  img {
    height: 100% !important;
    width: auto !important;
  }
}

.image-wrapper-preserve-aspect-ratio,
.iwpar {
  svg {
    height: auto !important;
    width: auto !important;
    max-height: 100% !important;
    max-width: 100% !important;
  }

  img {
    height: auto !important;
    width: auto !important;
    max-height: 100% !important;
    max-width: 100% !important;
  }
}

.capitalize {
  text-transform: capitalize;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

// Heartbeat Animation
.heartbeat-animation {
  animation: heartbeat 3.5s ease-in-out infinite;
  box-shadow: 3px 0 6px 3px rgba(255, 69, 0, 0.2);
}

@keyframes heartbeat {
  0% {
    transform: scale(1) rotate(0deg);
    box-shadow: 3px 0 6px 3px rgba(255, 69, 0, 0.2);
  }
  14% {
    transform: scale(1.1) rotate(15deg);
    box-shadow: 8px 0 12px 6px rgba(255, 69, 0, 0.3);
  }
  28% {
    transform: scale(1) rotate(0deg);
    box-shadow: 3px 0 6px 3px rgba(255, 69, 0, 0.2);
  }
  42% {
    transform: scale(1.1) rotate(-15deg);
    box-shadow: 8px 0 12px 6px rgba(255, 69, 0, 0.3);
  }
  70% {
    transform: scale(1) rotate(0deg);
    box-shadow: 3px 0 6px 3px rgba(255, 69, 0, 0.2);
  }
}
